@charset "UTF-8";

/* 共通 */
html {
	font-size: 100%;
	max-width: 800px;
	margin:20px 80px;
}
body {
	line-height: 2;
	color:#432;
	background-color: rgb(255, 249, 244);
}
a {
	text-decoration: none;
}
ul {
	list-style-type: none;
}
img {
	max-width: 100%;
}
h2 {
	font-size: medium;
}
form div {
	margin-bottom: 14px;
}
input[type="text"],
input[type="email"],
input[type="password"],
textarea {
	background: none;
	border:1px rgb(202, 226, 227) solid;
	border-radius: 5px;
	padding: 7px;
	font-size: 1rem;
	vertical-align: top;
}
input[type="text"],
input[type="email"],
input[type="password"] {
	width: 70%;
	max-width: 240px;
}
textarea {
	width: 100%;
	max-width: 480px;
	height: 6rem;
}
input[type="submit"] {
	background: #ebe4c9;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	line-height: 2;
	padding: 1px 8px;
}
input[type="checkbox"] {
  /* チェックボックスの外枠 */
  appearance: none; /* デフォルトのスタイルを削除 */
  width: 20px;
  height: 20px;
  border: 2px solid #3d07ff; /* チェックボックスの色 */

  &:checked::before {
    /* チェックボックスの内側の✓ */
    display: block;
    content: "✓";
    line-height: 1.2;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    color: #3d07ff; /* チェックマークの色 */
    opacity: 1;
  }
}

select {
	background: none;
	border:1px rgb(202, 226, 227) solid;
	border-radius: 5px;
	padding: 7px;
	font-size: 1rem;
}

/* header */
.container {
	display: flex;
	justify-content: center;
}
.logo {
	width:fit-content;
	border-radius: 15px;
}

/* index */
button {
	background-color: #ebe4c9;
	border-radius: 10px;
	padding: 3px 12px;
	margin-right: 25px;
	align-items: center;
}
#toggleButton {
	display: flex;
	justify-content: right;
}
.hidden {
	display: none;
	justify-content: right;
}
.circle ul {
	list-style-type: circle;
}
li .brown {
	color: rgb(142, 90, 20);
	font-weight: bold;
}
li .pink {
	color: rgb(235, 182, 191);
	font-weight: bold;
}
article {
	width: 40%;
}
aside {
	width: 40%;
}
.wrapper {
	display:flex;
	justify-content: space-around;
	align-items: center;
	margin: 20px;
}
.shoppingList {
	border-radius: 15px;
}
.stockList {
	border-radius: 15px;
}
/*shoppingList*/
#addShoppingButton {
	max-width: 120px;
}
.shoppingListTitle {
	display: flex;
	justify-content: center;
}
/* addShoppingList */
#shoppingListForm {
    border: 2px dashed rgb(240, 164, 163); /* ボーダーのスタイルと色を設定 */
    /*background-color: #f08b8b; /* 背景色を設定 */
    border-radius: 10px;
    padding: 10px; /* フォーム内の要素からの内部余白を追加 (オプション) */
    width: 100%;
    max-width: 480px;
}
